<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915947266058-7pfqpbt92och1oc326oop4spls1rdgo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915947266058-7pfqpbt92och1oc326oop4spls1rdgo4</string>
	<key>API_KEY</key>
	<string>AIzaSyBaAYvQjuH2b4Ee49kt6M1cfESQy3OUEDE</string>
	<key>GCM_SENDER_ID</key>
	<string>915947266058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obinna.gratefulNotes</string>
	<key>PROJECT_ID</key>
	<string>grateful-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>grateful-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915947266058:ios:99db42ce3e2a5ea2d73ff3</string>
</dict>
</plist>